* {
    margin: 0;
    padding: 0;
    }

.header {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-items: end;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    
}

.main__promo {
    display: flex;
    flex-direction: column;
    
}

.main__promo-title {
    font-size: 3rem;
}


.footer__list {

    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.5rem;
}